/*
MAIN CSS COMPONENTS

1. Main theme color - (Github theme)
2. Scroll Bar color
3. Global tags
*/

html {
	color: #fff;

}

body {
	background-color: #0d1117;
	color: #fff; /* This is the global font color */
	font-family: monospace;
	position: relative;

	/* USERS CANT SELECT TEXTS IN WEB */
	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

a { /* hover design is in theme.css*/
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

