/*
Components here

1. Card Navigation
2. Scroll Bar
3. Smooth Scroll
*/

.main-nav {
	background-color: #161b22;
	border-bottom: 0px;
	border-color: #0d1117;
}

a:hover {
	color: #aeb4bb;
}

.nav-text {
	font-weight: lighter;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.nav2-dd { /*navigation 2 dropdown*/
	background-color: #21262d;
}

.nav2-text {
	color: #fff;
	margin-bottom: 0px;
}

ul {
	display: inline-block;
	text-align: center;
}

.home-navigation {
	margin-top: 5px;
	margin-bottom: 5px;
	position: fixed;
	z-index: 1;
	background-color: #0d1117;
	margin-left: 5px;

}


/*SCROLLBAR START*/
body::-webkit-scrollbar {
  width: 0.3em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #161b22;
  
}

/*SCROLLBAR END*/

/* Loading Start */
/*#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
} 
          
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} */
          
.center { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}

.display-4 {
	font-size: 5vw;
}

.pageloader {
	background-color: #0d1117;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}

.loaderimage {
	height: auto;
	width: 40vw;
	
}

.logo-wide {
	width: 150px;
	height: auto;
}

.logo-small {
	width: 150px;
	height: auto;
	margin-bottom: 0px;
	margin-top: 5px;
}

.main-body {
	background-image: url('');
}
/* SECTIONS */

.about-me {
	background-color: #0d1117;

}
.about-me h1 {
	font-size: 3.5vw;
}